.education-card {
  .study-field {
    padding-top: 0.9rem;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content-edit-btn,
    .content-delete-btn {
      cursor: pointer;

      &:hover {
        scale: 1.2;
      }
    }

    .content-delete-btn {
      margin-left: 0.5rem;
    }
  }

  .school {
    font-weight: 500;
  }
}

.education-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  textarea,
  input {
    margin-top: 0.5rem;
    border: 1px solid rgb(167, 167, 167);
    padding-left: 0.5rem;
    border-radius: 5px;
    margin: 0;
  }

  input {
    height: 1.8rem;
  }

  button {
    height: 2rem;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: none;
    background-color: #a6ffbe;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
